{% extends "notes/base.html" %}
{% load static %}

{% block title%}Вход в систему{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header btn btn-mint text-white">
                    <h5>Вход на сайт</h5>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'users:login' %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                        {{ form.as_p }}
                        <div class="d-flex justify-content-between align-items-center">
                            <button type="submit" class="btn btn-primary">Войти</button>
                            <div>
                                <a href="{% url 'users:register' %}" class="btn btn-outline-secondary me-2">Регистрация</a>
                                <a href="{% url 'users:password_reset' %}" class="btn btn-link">Забыли пароль?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}